.container-portfolio2 {
  width: 100%;
  min-height: 100vh;
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.app-container {
  padding: 1rem;
  margin-top: 40%;
}

.app-container .app-title {
  margin-top: 20px;
  align-self: center;
  display: flex;
  align-self: center;
}

.app-container:hover {
  cursor: pointer;
}

.inner-container {
  width: 100%;
  height: 100%;
}

.slick-slide {
  transform: all 0.4s ease-in-out;
}

.slick-center {
  transform: scale(1.1);
  transform: all 0.4s ease-in-out;
}

.slick-slide .app- img {
  transform: all 0.4s ease-in-out;
}

.list-wrapper {
  /* background: red; */
  /* margin: auto; */
}